<div class="container">
	<h6 class="dress"><a ui-sref="home">Home</a> <i> </i> 404 </h6>
</div>
<div class="back">
	<h2>404</h2>
</div>
		<!---->
		<div class="four">
				<h3>404</h3>
				<p>The page you're looking for could not be found.</p>
					<a ui-sref="home" class="more ">Go back</a>
				
			</div>
			<!---->
			<!-- 	<div class="bottom-grid1">
					
					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div> -->