
		<!---->
		<div class="container"> 
	  <div class="box_4">
	  	<div class="col-md-8 about_left">
	  		<h3>Lorem Ipsum is simply dummy text </h3>
	  		<%= image_tag "banner.jpg", :class => "img-responsive" ,:alt=>"" %>
		    </p>Caleb Ejakait (83284)</p>
			</p>Mogeni Clive Makamara – CEO (82816)</p>
			</p>Lusweti Angela Namikoye (83458)</p>
			</p>Odhiambo Emmanuel Aghan – Secretary (084514)</p>
	       <div class="faqs">
				       <h4>Why Choose Us</h4>
				       <div class="questions">
							<h5>1.What is Lorem Ipsum?</h5>
	        				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	        		   </div>
	        		   
			        		   <div class="questions">
									<h5>2.What is Lorem Ipsum dummy text ever since the 1500s?</h5>
			        				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			        			</div>				    
				   </div>  	
	  	</div>
	  	<div class="col-md-4 sidebar">
	  		      <h3>Testimonials</h3>
		  			    <div class="testimonials">
		  					 <h5>Finibus Bonorum Malorum<span><a href="#">http://demolink.org</a></span></h5>
		  					 <p><span class="quotes"></span>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.<span class="quotes-down"></span></p>
		  				</div>	
		  				<div class="testimonials">
		  					 <h5>Finibus Bonorum <span><a href="#">http://demolink.org</a></span></h5>
		  					 <p><span class="quotes"></span>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.<span class="quotes-down"></span></p>
		  				</div>
		  				<div class="testimonials">
		  					 <h5>H. Rackham<span><a href="#">http://demolink.org</a></span></h5>
		  					 <p><span class="quotes"></span>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.<span class="quotes-down"></span></p>
		  				</div>
		  			
	  	</div>
	  	<div class="clearfix"> </div>
	  </div>
  
          	</div>
      
			<!---->
			<!-- 	<div class="bottom-grid1">
					
					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div> -->