<div ng-controller="BestCtrl">
				<div class="col-md-3 product-price">
					  
				
				<!---->
				<div class="product-bottom">
					<div class="of-left-in">
								<h3 class="best">BEST SELLERS</h3>
							</div>
					<div class="product-go">
						<div class=" fashion-grid">
									<a ui-sref="product"><%= image_tag "be.jpg", :class => "img-responsive" ,:alt=>"" %></a>
									
								</div>
							<div class=" fashion-grid1">
								<h6 class="best2"><a ui-sref="product">Lorem ipsum dolor sit
amet consectetuer  </a></h6>
								
								<span class=" price-in1"> $40.00</span>
							</div>
								
							<div class="clearfix"> </div>
							</div>
							<div class="product-go">
						<div class=" fashion-grid">
									<a ui-sref="product"><%= image_tag "be1.jpg", :class => "img-responsive" ,:alt=>"" %></a>
									
								</div>
							<div class="fashion-grid1">
								<h6 class="best2"><a ui-sref="product">Lorem ipsum dolor sit
amet consectetuer </a></h6>
								
								<span class=" price-in1"> $40.00</span>
							</div>
								
							<div class="clearfix"> </div>
							</div>
							<div class="product-go">
						<div class=" fashion-grid">
									<a ui-sref="product"><%= image_tag "be2.jpg", :class => "img-responsive" ,:alt=>"" %></a>
									
								</div>
							<div class=" fashion-grid1">
								<h6 class="best2"><a ui-sref="product">Lorem ipsum dolor sit
amet consectetuer </a></h6>
								<ul class="star-footer">
									<li><a href="#"><i> </i></a></li>
									<li><a href="#"><i> </i></a></li>
									<li><a href="#"><i> </i></a></li>
									<li><a href="#"><i> </i></a></li>
									<li><a href="#"><i> </i></a></li>
								</ul>
								<span class=" price-in1"><small>$70.00</small> $40.00</span>
							</div>
								
							<div class="clearfix"> </div>
							</div>
				</div>
<div class=" per1">
				<a ui-sref="product"><%= image_tag "pro.jpg", :class => "img-responsive" ,:alt=>"" %>
				<div class="six1">
					<h4>DISCOUNT</h4>
					<p>Up to</p>
					<span>60%</span>
				</div></a>
			</div>
				</div>
				</div>