<div class="container">
	<h6 class="dress"><a ui-sref="home">Home</a> <i> </i> Cart </h6>
</div>
<div class="back">
	<h2>My Cart</h2>
</div>
		<!---->
		<div class="product">
			<div class="container">
					<div class="col-md-3 product-price">
	<div ng-include="'<%= path_to_asset("views/bestsellers.html") %>'"></div>
	</div>
				<!---->
				<ngcart-cart></ngcart-cart>

				
				<div class="clearfix"> </div>
			</div>
		</div>
			<!---->
				<div class="bottom-grid1">
					
					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div>