<div class="container">
	<h6 class="dress"><a ui-sref="home">Home</a> <i> </i> Checkout </h6>
</div>
<div class="back">
	<h2>CHECKOUT</h2>
</div>
		<!---->
		<div class="product">
			<div class="container">
	<div ng-include="'<%= path_to_asset("views/bestsellers.html") %>'"></div>
			
				<!---->
				<div class="col-md-9 product-price1">
				<div class="check-out">	 
			
		 <div class=" cart-items">
			 <h3>My Shopping Bag (2)</h3>
				
				
				  <div class="in-check" >
		  <ul class="unit">
			<li><span>Item</span></li>
			<li><span>Product Name</span></li>		
			<li><span>Unit Price</span></li>
			<li><span>Stock Status</span></li>
			<li> </li>
			<div class="clearfix"> </div>
		  </ul>
		  <ul class="cart-header">
		   <div class="close1"> </div>
			<li class="ring-in"><a ui-sref="product" ><%= image_tag "f1.jpg", :class => "img-responsive" ,:alt=>"" %></a>
			</li>
			<li><span>Woo Dress</span></li>
			<li><span>$ 60.00</span></li>
			<li><span>In Stock</span></li>
			<li> <a ui-sref="product" class="add-cart cart-check">ADD TO CART</a></li>
			<div class="clearfix"> </div>
			</ul>
 <ul class=" cart-header1">
		   <div class="close2"> </div>
			<li class="ring-in"><a ui-sref="product" ><%= image_tag "f2.jpg", :class => "img-responsive" ,:alt=>"" %></a>
			</li>
			<li><span>Woo Dress</span></li>
			<li><span>$ 60.00</span></li>
			<li><span>In Stock</span></li>
			<li> <a ui-sref="product" class="add-cart cart-check">ADD TO CART</a></li>
			<div class="clearfix"> </div>
			</ul>
		</div>
			 </div>
					  
		 </div>
		 

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
			<!---->
				<div class="bottom-grid1">
					
					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div>