
		<!---->
		<div class="product">
			<div class="container">

					<div class="col-md-3 product-price">
	
	</div>
				<!---->
	

	<ngcart-checkout service="http" settings="{ url:'/api/charges/'}"></ngcart-checkout>

	  <h1>Stripe Checkout has been loaded</h1>
      <button ng-click="doCheckout()">Buy</button>

				<div class="clearfix"> </div>
			</div>
		</div>
			<!---->
				<div class="bottom-grid1">
					
					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div>