
		<!---->
		<div class="product">
			<div class="container">

					<div class="col-md-3 product-price">
	
	</div>
				<!---->
				<ngcart-cart></ngcart-cart>

	<ngcart-checkout service="http" settings="{ url:'/api/charges/'}"></ngcart-checkout>
	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_GZzKl1LRSB5gqHohCizCZKrW"
          data-description=""
          data-amount=""
          data-currency="kes"
          data-locale="auto"></script>
				<div class="clearfix"> </div>
			</div>
		</div>
			<!---->
				<div class="bottom-grid1">
					
					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div>