
		<!---->
		<div class="container">
			<div class="contact">
			
				<div class=" contact-top-in">
					<h3>Info</h3>
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.108669184961!2d36.8130772!3d-1.3089643!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ed8412115331950!2sStrathmore+University!5e0!3m2!1sen!2s!4v1466288212973" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					
					
					
				</div>
				<div class=" contact-top">
					<h3>Want to work with us?</h3>
						<div>
							<span>Your Name </span>		
							<input type="text" value="" >						
						</div>
						<div>
							<span>Your Email </span>		
							<input type="text" value="" >						
						</div>
						<div>
							<span>Subject</span>		
							<input type="text" value="" >	
						</div>
						<div>
							<span>Your Message</span>		
							<textarea> </textarea>	
						</div>
						<input type="submit" value="SEND" >	
				</div>
		
		</div>
	</div>
<!-- <div class="bottom-grid1">
					
					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div> -->