
		<!---->
		<div class="container">
			<div class="contact">
			
				<div class=" contact-top-in">
					<h3>Info</h3>
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.108669184961!2d36.8130772!3d-1.3089643!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ed8412115331950!2sStrathmore+University!5e0!3m2!1sen!2s!4v1466288212973" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					
					
					
				<div class="footer">
		<div class="container">
			<div class="col-md-4 footer-top">
				<h3>QUICK CONTACT</h3>
				<form>

						<input type="text" value="ENTER YOUR NAME*" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='ENTER YOUR NAME*';}">

						<input type="text" value="ENTER YOUR EMAIL*" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='ENTER YOUR EMAIL*';}">

						<input type="text" value="ENTER YOUR PHONE" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='ENTER YOUR PHONE';}">

						<textarea cols="77" rows="6" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'ENTER YOUR MESSAGE*';}">ENTER YOUR MESSAGE*</textarea>

							<input type="submit" value="SEND MESSAGE" >

					</form>
<!-- <div class="bottom-grid1">
					
					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div> -->