	<div class="product">
			<div class="container">
				
				<!---->
				<div class="col-md-12 product-price1">
				<div class="col-md-5 single-top">	
						<ul id="etalage">
							<li>
								<a href="">

	<img class="etalage_thumb_image img-responsive" src="{{ebook.ebook_image.standard.url}}" alt="" >
	<img class="etalage_source_image img-responsive" src="{{ebook.ebook_image.thumb.url}}" alt="" >
							
								</a>
							</li>
							
							
						</ul>

					</div>	
					<div class="col-md-7 single-top-in simpleCart_shelfItem">
						<div class="single-para ">
						<h4>{{ebook.title}}</h4>
							<div class="star-on">
								<ul class="star-footer">

							</ul>
								<div class="review" >
					<a href=""> Good Reads rating :<b> {{ebook.goodreads.average_rating}}/5 </b></a>
									
								</div>
							<div class="clearfix"> </div>
							</div>
							
							<h5 class="item_price">KES {{ebook.price}}</h5>
							<p>{{ebook.description}}</p>
						
							<ul class="tag-men">
								<li><span>Author</span>
								<span class="women1">: {{ebook.author}}</span></li>
								<li><span>ISBN</span>
								<span class="women1">: {{ebook.ISBN}}</span></li>
								<li><span>Genre</span>
								<span class="women1">: {{ebook.category.name}}</span></li>
								<li><span>Cart Actions</span>
								<ngcart-addtocart  quantity="1" quantity-max="1" show="{{checkcart(ebook.id)}}" id={{ebook.id}}  name="{{ebook.title}}" price="{{ebook.price}}" data="[ebook.ebook_image.thumb.url,ebook.author]"></ngcart-addtocart>
								</li>

							</ul>
								
						</div>
					</div>
				<div class="clearfix"> </div>
		
		
		 <div  ng-bind-html="$sce.trustAsHtml(ebook.goodreads.reviews_widget)"></div>

		      
		     <div ng-cloak hidden="">
  <md-content class="md-padding">
    <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
      <md-tab id="tab1">
        <md-tab-label>Reviews</md-tab-label>
        <md-tab-body>
     
          
        
        </md-tab-body>
      </md-tab>
     
      <md-tab id="tab3">
        <md-tab-label>Comments</md-tab-label>
        <md-tab-body>
          View for Item #3 <br/>
          data.selectedIndex = 2;
        </md-tab-body>
      </md-tab>

    </md-tabs>

  </md-content>
  
</div>
		      
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		

				<script type="text/javascript">
					 jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						// alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});	
				</script>