

<div class="footer">
		<div class="container">
			<div class="col-md-4 footer-top">
				<h3>QUICK CONTACT</h3>
				<form>

						<input type="text" value="ENTER YOUR NAME*" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='ENTER YOUR NAME*';}">

						<input type="text" value="ENTER YOUR EMAIL*" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='ENTER YOUR EMAIL*';}">

						<input type="text" value="ENTER YOUR PHONE" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='ENTER YOUR PHONE';}">

						<textarea cols="77" rows="6" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'ENTER YOUR MESSAGE*';}">ENTER YOUR MESSAGE*</textarea>

							<input type="submit" value="SEND MESSAGE" >

					</form>

			

			</div>
			<div class="col-md-4 footer-top">
				<div class="logo-footer">
					<div class="logo-bottom">
						<a href="#"><%= image_tag "lo.png" %></a>
					</div>
					<div class="logo-the">
						<h4>Amberegul Theme</h4>
						<p>Was designed for opencart, magento,
woocommerce and prestashop platforms.
It is based on Bootstrap.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="indo">
				<p class="in">Bandung, Indonesia <span>40553</span></p>
					<ul class="social-footer ">
						<li><span><i> </i>+62 226759804 </span></li>
						<li><span><i class="down"> </i>blithemes</span></li>
						<li><a href="mailto:info@example.com"><i class="mes"> </i>info@example.com</a></li>
						<li><a href="#"><i class="mes-in"> </i>http://example.com</a></li>
					</ul>
					<a href="#"><%= image_tag "pa.png" %></a>
					</div>
			</div>
			<div class="clearfix"> </div>
			<p class="footer-class">© 2016 Ibhuku All Rights Reserved | Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		</div>
	</div>