

<!-- //TODO - Edit Front Page to reflect Ebooks
<div class="container">
        <div class="content-top">
            <div class="col-md-9">
                <div class="col-top">
                    <div class="col-md-6 black">
                        <a href="single.html"><div class="shoe" >
                            <h3>WOMEN SHOES</h3>
                        </div>
                        <%= image_tag "sh.png" %></a>
                    </div>
                    <div class="col-md-6 black-in">
                        <a href="single.html"><div class="shoe bag" >
                            <h3>WOMEN BAGS</h3>
                        </div>
                        <%= image_tag "ba.png" %></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-top-bottom">
                    <h3 class="menber">MEMBER DISCOUNT</h3>
                    <a href="single.html" class="now-in">SHOP NOW</a>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 per">
                <a href="single.html"><%= image_tag "pi1.jpg" , :class => "img-responsive" ,:alt=>"" %>
                <div class="six">
                    <h4>FASHION</h4>
                    <p>Get up to</p>
                    <span>60%</span>
                </div></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        
    </div>

   -->
{{test}}
