<div class="col-md-12 product-price1">
 
  <div class="product-right-top">
    <div  class="top-product">
     
   <div class="col-md-2 chain-grid scrollArea"   ng-repeat="ebook in ebooks">
        
        
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" ng-src="{{ebook.ebook_image.standard.url}}" ui-sref="ebook({ebookID:{{ebook.id}}})">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">  <p data-ng-bind="ebook.title" data-ellipsis> </p>
            <p><small> {{ebook.author}}</small></p>
          <i class="material-icons right">more_vert</i></span>
          
          <div class="mdl-card__actions ibhuku-card-product-actions"><strong class="mdl-typography--headline ibhuku-product-price"><ins><span>KES {{ebook.price}}</span></ins></strong>
          
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ebook.title}}<i class="material-icons right">close</i></span>
        <p>{{ebook.description}}</p>
      </div>
    </div>
    
    
    
  </div>
</div>

<div class="clearfix"> </div>
</div>
<div class="clearfix"> </div>
</div>

