<div class="price-grid">
					    <div class="of-left">
						<h3 class="cate cate-on">PRICE</h3>
					</div>
      <input name="minPrice" id="minPrice" ng-model="priceInfo.min" ng-hide="false" ng-model-options="{ updateOn: 'change' }">  
      <input name="maxPrice" id="maxPrice" ng-model="priceInfo.max" ng-hide="false" ng-model-options="{ updateOn: 'change' }"> 
      <ul class="dropdown-menu1">
            <li><a href="">
                <p>
                      <label for="amount" class="amount">Range:</label>
                     <input type="text" id="amount" style="border: 0; color: #ff5d56; font-weight: bold;" />

						  </p>
    <p class="range-field">
      <input type="range" id="slider-range" min="0" max="100" />
    </p>
                   <!-- <div  id="slider-range"></div> -->
                </a></li>

          </ul>
		
		  	<div class="clearfix"> </div>

		</div>

<script>
        var url = "<%= path_to_asset("scripts/price.js") %>";
        $.getScript(url);
    </script>