<div class="shipping">
					<div class="col-md-3 col-md1">
						<div class=" phone">

							<div class="num">
								<span>8(802)234-5678</span>
								<p>Monday - Saturday: 8am - 5pm PST</p>
							</div>
							<i class="phone-in"> </i>
							<div class="clearfix"> </div>
						</div>

					</div>
					<div class="col-md-5 col-md2">
						<div class=" phone1">

							<i class="phone-in1"> </i>
							<div class="num1">
								<span>Free Shipping</span>
								<p>on all orders over $99</p>
							</div>
							<a class="learn-in" ui-sref="product">Learn More</a>
							<div class="clearfix"> </div>
						</div>

					</div>
					<div class="col-md-4 col-md3">
						<div class=" phone2">


							<div class="num2">
								<span>Crazy Sale!</span>
								<p>on selected items</p>
							</div>
							<a class="learn-in1" ui-sref="product">Learn More</a>
							<div class="clearfix"> </div>
						</div>
			</div>
			<div class="clearfix"> </div>
			</div>