<div class="back">
	<!-- <h2>ABOUT</h2> -->
</div>
		<!---->
		<div class="container"> 
	  <form ng-submit="vm.onSubmit()">
  <!-- <formly-form model="vm.user" fields="vm.userFields"> -->
    <!-- <button type="submit">Submit</button> -->
  <!-- </formly-form> -->
</form>
  
          	</div>