<div class="container">
	<div class="account_grid">
		<div class=" login-right">
			<h3>Email Details:</h3>
			<p></p>
			<form ng-submit="requestPasswordReset(passwordResetForm)">
				<formly-form model="passwordResetForm" fields="passwordResetForm.fields">
					<a class="forgot"></a>
					<input type="submit" value="Request Password Reset">
				</formly-form>
			</form>
		</div>
	</div>
</div>