<div class="container">
	<h6 class="dress"><a href="index.html">Home</a> <i> </i> Account </h6>
</div>
<div class="back">
	<h2>PASSWORD RESET</h2>
</div>
		<!---->
		<div class="container">
		<div class="account_grid">
			   <div class=" login-right">
			  <h3>Email Details:</h3>
				<p></p>
				<form ng-submit="requestPasswordReset(passwordResetForm)" role="form" ng-init="passwordResetForm = {}">
  				<div class="form-group">
    			<label>EMAIL</label>
    			<input type="email" name="email" ng-model="passwordResetForm.email" required="required" class="form-control"/>
  				</div>

  				<button type="submit" class="btn btn-primary btn-lg">Request Password Reset</button>
				</form>
			   </div>
			    
			 </div>

			</div>

					<!-- <div class="bottom-grid1">

					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div> -->
