<div class="container">
  <div class="account_grid">
    <div class=" login-right">
      <h3>PASSWORD DETAILS</h3>
      {{reset}}
      <form ng-submit="updatePassword(changePasswordForm)">
        <formly-form model="changePasswordForm" fields="changePasswordForm.fields">
          <p>NOTE: New password must be at least 8 characters, contain big, small letters and digits</p>
          <a class="forgot"></a>
          <input type="submit" ng-model="handleRegBtnClick" value="Change your password">
        </formly-form>
      </form>
    </div>
  </div>