<div class="container">
	<h6 class="dress"><a href="index.html">Home</a> <i> </i> Account </h6>
</div>
<div class="back">
	<h2>UPDATE PASSWORD</h2>
</div>
		<!---->
		<div class="container">
		<div class="account_grid">
			   <div class=" login-right">
			  	<h3>PASSWORD DETAILS</h3>
				        <form ng-submit="updatePassword(changePasswordForm)" role="form" ng-init="changePasswordForm = {}">
                    <div class="form-group">
                      <span>New Password</span>
                      <input type="password" name="password" ng-model="changePasswordForm.password" required="required" class="form-control">
                    </div>
                  <div class="form-group">
                    <span>Confirm Password</span>
                    <input type="password" name="password_confirmation" ng-model="changePasswordForm.password_confirmation" required="required" class="form-control">
                  </div>
                <button type="submit" class="btn btn-primary btn-medium">Change your password</button>
              </form>
			    </div>
			</div>

					<!-- <div class="bottom-grid1">

					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div> -->
