<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks, from Ibhuku</h1>
    <p>
      Attached is your purchase
    </p>
    <%=@url%>
    <p>Thanks for shopping and have a great day!</p>
  </body>
</html>