<div ng-show="attrs.show" >
     

    <div class="cart-add">
<a class="add1 item_add" href="">ADD TO CART<i></i></a>
<div class="clearfix"> </div>
</div>

<div>
    <mark>
        This item is in your cart. <a ng-click="ngCart.removeItem(id)" style="cursor: pointer;">Remove</a>
    </mark>
	
</div>

</div>

<div ng-hide="attrs.show">
     

    <div class="cart-add">
<a class="add1 item_add" href="" ng-click="ngCart.addItem(id, name, price, 1, data)" >ADD TO CART</a>
<a class="add2" href=""></a>
<div class="clearfix"> </div>
</div>


</div>
{{attrs.show}}


