<!-- 
<div ng-hide="attrs.id">

 <div class="cart-add">
<a class="add1 item_add" href="" ng-disabled="true">ADD TO CART<i></i></a>
<div class="clearfix"> </div>
</div>
   

</div> -->
                <!-- <div class="clearfix"> </div> -->

<!-- <div ng-show="attrs.id"> -->
   <div class="cart-add">

        <span ng-show="quantityMax" hidden>
            <select name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>

        <a class="add1 item_add" href=""
           ng-click="ngCart.addItem(id, name, price, q, data)"
           >ADD TO CART<i></i></a>
                        <div class="clearfix"> </div>

    </div>
                    <div class="clearfix"> </div>
                    <div>
    <mark  ng-show="inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
        <!-- <div class="clearfix"> </div> -->
    </mark>
    </div>

    <!-- <div class="clearfix"> </div> -->
<!-- </div> -->
                <!-- <div class="clearfix"> </div> -->
