<div class="col-md-9 product-price1">
                <div class="check-out">  
            
         <div class=" cart-items">
             <h3>My Shopping Bag ({{ngCart.getTotalItems()}})</h3>

           <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
</div>     
                
<div class="ngCart cart in-check" ng-show="ngCart.getTotalItems() > 0">          <ul class="unit">
            <li><span>Cover</span></li>
            <li><span>Title</span></li>      
            <li><span>Author</span></li>
            <li><span>Price</span></li>
            <li> </li>
            <div class="clearfix"> </div>
          </ul>
          <ul class="cart-header" ng-repeat="item in ngCart.getCart().items track by $index">
           <div class="close1" ng-click="ngCart.removeItem($index)"> </div>
             <li class="ring-in"><a ui-sref="ebook({ebookID:{{item.id}}})" ><img src="{{item.getData()[0]}}" alt="" class="img-responsive"></a>
            </li>
            <li><span>{{ item.getName() }}</span></li>
            <li><span>{{ item.getData()[1] }}</span></li>
            <li><span>{{ item.getTotal() | currency:"KES " }}</span></li>
            <li> <a ui-sref="ebook({ebookID:{{item.id}}})" class="add-cart cart-check">VIEW ITEM</a></li>
            <div class="clearfix"> </div>
            </ul>
 <ul class=" cart-header1">
           
            <li class="ring-in">
            </li>
            <li><span></span></li>

            <li><span></span></li>
            <li><span>Total:</span></li>
            <li><span>{{ ngCart.totalCost() | currency:"KES " }}</span></li>
            <li> <a ui-sref="checkout" class="add-cart cart-check">CHECKOUT</a></li>
            <div class="clearfix"> </div>
            </ul>
        </div>
             </div>
                      
         </div>
         

                </div>