<body ng-app="ibhuku">
<div ng-include="'<%= path_to_asset("app/views/navbar.html") %>'"></div>
<div class="content" ui-view></div>
<div ng-include="'<%= path_to_asset("app/views/footer.html") %>'"></div>
</body>
<script src="<%= path_to_asset("app/scripts/main.js") %>" type="application/x-javascript"></script>