<div class="container">
	<h6 class="dress"><a href="index.html">Home</a> <i> </i> Account </h6>
</div>
<div class="back">
	<h2>ACCOUNT</h2>
</div>
		<!---->
		<div class="container">
		<div class="account_grid">
			   <div class=" login-right">
			  	<h3>REGISTERED CUSTOMERS</h3>
				<p>If you have an account with us, please log in.</p>
				<form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
				  <div>
					<span>Email Address</span>
					<input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"/>
				  </div>
				  <div>
					<span>Password</span>
					<input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/> 
				  </div>
				  <a class="forgot" href="#">Forgot Your Password?</a>
				  <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
			    </form>
			   </div>	
			    <div class=" login-left">
			  	 <h3>NEW CUSTOMERS</h3>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				 <a class="acount-btn"  ui-sref="signup">Create an Account</a>
			   </div>
			
			 </div>
		
			</div>

					<!-- <div class="bottom-grid1">
					
					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div> -->